html,
body,
h1 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background: #ccc;
  padding: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

h1 {
  padding-bottom: 20px;
}

em {
  font-style: normal;
  font-weight: bold;
}

#input {
  display: flex;
}

input {
  flex: 1;
}

#chat {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  text-align: right;
}

aside {
  background: white;
  border: 1px solid #333;
  border-radius: 3px;
  width: 50vw;
  padding: 20px;
  margin: 20px auto;
}

input:valid + button {
  display: block;
}

input:invalid + button {
  display: block;
}

article {
  border: 1px solid #ccc;
}

img {
  max-width: 200px;
  max-height: 200px;
}
